importFrom("stats", "dnorm", "pnorm", "qchisq", "qnorm", "runif")
importFrom("graphics", "hist", "lines", "plot")


export(pn.bias,
       pn.IC,
       pn.dens,
       pn.hist,
       pn.lines,
       pn.mle,
       rpn,
       dpn,
       qpn,
       ppn)
